<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BeakAIOps">
  <test thread-count="5" name="Script Testing">
    <classes>
      <class name="beakAIOps.ScriptModuleTestCases.TC02CreateGlobalLevelScript"/>
      <class name="beakAIOps.ScriptModuleTestCases.TC03EditGlobalLevelScript"/>
      <class name="beakAIOps.ScriptModuleTestCases.TC04DeactivateGlobalLevalScript"/>
      <class name="beakAIOps.ScriptModuleTestCases.TC05ReactivateGlobalLevelScript"/>
      <class name="beakAIOps.ScriptModuleTestCases.TC01VerifyLoginFunctinality"/>
      <class name="beakAIOps.ScriptModuleTestCases.baseClass"/>
    </classes>
  </test> <!-- Script Testing -->
</suite> <!-- BeakAIOps -->
